@import "/src/Assets/Scss/main.scss";

.input {
	display: flex;
	align-items: center;
	padding: 15px 0;

	.icon {
		width: 25px;
		height: 25px;
		color: $color-main-light;
		font-size: 25px;
		display: flex;
		align-items: center;
		user-select: none;
		margin-right: 10px;
	}

	.control {
		position: relative;
		width: calc(100% - 25px);
		height: 50px;
		&.small {
			height: 40px;
		}
		&.large {
			height: 50px;
		}

		input {
			width: 100%;
			height: 100%;
			border-radius: 5px;
			border: 2px solid var(--rgba-2);
			outline: none;
			padding: 0 10px;
			caret-color: $color-main-light;
			background: var(--bg-1);
			color: var(--clr-text-2);
			font-weight: $fw-bold;
			transition: all 0.2s linear;
			&.password {
				padding-right: 55px;
			}

			&:focus,
			&:not(:placeholder-shown) {
				border-color: $color-main-light;
				~ .placeholder {
					top: 0;
					left: 8px;
					font-size: 12px;
					background: var(--bg-1);
					color: $color-main-light;
					padding: 0 5px;
					letter-spacing: unset;
				}
			}
			&:not(:focus) {
				border-color: var(--rgba-2);
				~ .placeholder {
					color: var(--rgba-3);
				}
			}

			&.error:focus {
				border-color: $color-red;
				~ .placeholder {
					color: $color-red;
				}
			}
			&.error:not(:focus) {
				border-color: $color-red;
				~ .placeholder {
					color: var(--rgba-3);
				}
			}
			&.error:not(:focus):not(:placeholder-shown) ~ .placeholder {
				color: red;
			}
		}

		.message {
			display: block;
			color: $color-red;
			font-size: 13px;
			font-weight: $fw-regular;
			margin-top: 5px;
			&::first-letter {
				text-transform: capitalize;
			}
		}

		.placeholder {
			position: absolute;
			top: 50%;
			left: 15px;
			transform: translateY(-50%);
			font-size: 14px;
			font-weight: $fw-medium;
			color: $color-gray;
			letter-spacing: 1px;
			transition: all 0.2s linear;
			pointer-events: none;
		}

		.show {
			position: absolute;
			top: 50%;
			right: 15px;
			transform: translateY((-50%));
			border: none;
			background: transparent;
			color: $color-gray;
			font-size: 25px;
			width: 25px;
			height: 25px;
			cursor: pointer;
		}
	}
}
