@import "/src/Assets/Scss/main.scss";

.emoji {
	width: auto;
	height: auto;
	background: var(--background);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	padding: 5px;
	transition: background 0.2s linear;

	.represent {
		position: relative;

		button {
			width: 25px;
			height: 20px;
			line-height: 20px;
			font-size: 20px;
			color: $color-gray;
			border: none;
			outline: none;
			background: transparent;
			margin: 5px;
			cursor: pointer;
		}

		.active {
			position: absolute;
			top: 100%;
			width: 35px;
			height: 2px;
			background: $color-main-light;
			border-radius: 10px;
			transition: all 0.2s linear;
		}
	}

	.line {
		border: none;
		border-top: 1px solid var(--color-line);
		margin: 0 0 5px;
	}

	.list {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		padding: 5px;
		gap: 5px;

		.item {
			font-family: "Noto Color Emoji", sans-serif;
			border: none;
			outline: none;
			background: transparent;
			font-size: 20px;
			transition: all 0.2s ease;
			cursor: pointer;
			&:hover {
				opacity: 0.7;
			}
		}
	}
}
