@import "/src/Assets/Scss/main.scss";

.emoji {
	position: relative;

	.action {
		width: 25px;
		height: 25px;
		font-size: 25px;
		background: transparent;
		color: $color-gray;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 50%;
		transition: all 0.2s linear;
		cursor: pointer;
		&:hover {
			color: $color-main-light;
		}
	}

	.box {
		position: absolute;
		background: var(--background-content);
		box-shadow: 0 0 0 2px var(--rgba);
		border-radius: 10px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.2s ease;
		padding: 5px;
		z-index: 100;
		&.show {
			opacity: 1;
			visibility: visible;
		}

		.represent {
			position: relative;

			button {
				width: 25px;
				height: 20px;
				line-height: 20px;
				font-size: 20px;
				color: $color-gray;
				border: none;
				outline: none;
				background: transparent;
				margin: 5px;
				cursor: pointer;
			}

			.active {
				position: absolute;
				top: 100%;
				width: 35px;
				height: 2px;
				background: $color-main-light;
				border-radius: 10px;
				transition: all 0.2s linear;
			}
		}

		.line {
			border: none;
			border-top: 1px solid var(--color-line);
			margin: 0 0 5px;
		}

		.list {
			display: grid;
			grid-template-columns: repeat(10, 1fr);
			gap: 5px;
			padding: 5px;

			button {
				font-family: "Noto Color Emoji", sans-serif;
				background: transparent;
				border: none;
				outline: none;
				font-size: 20px;
				transition: opacity 0.2s ease;
				cursor: pointer;
				&:hover {
					opacity: 0.7;
				}
			}
		}
	}
}
