$color-main-light: #85bfaf;
$color-main-dark: #71a697;
$color-dark: #000;
$color-black: #333;
$color-gray: gray;
$color-silver: silver;
$color-light: #fff;
$color-white: #eee;
$color-red: #ff6060;
$color-green: #77de77;
$color-blue: #4141ce;
$color-orange: #ffc354;
$color-gold: #d8bf30;

$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-bold: 700;
