@import "/src/Assets/Scss/main.scss";

.main {
	display: flex;
	flex-direction: column;

	.header {
		height: 70px;
	}

	.content {
		height: calc(100vh - 70px);
		background: var(--background-content);
		transition: all 0.2s linear;
	}
}
