@import "/src/Assets/Scss/main.scss";

.main {
	display: flex;
	flex-direction: column;

	.header {
		height: 70px;
	}

	.content {
		height: calc(100vh - 70px);
		overflow-y: scroll;
		background: var(--background-content);
		transition: all 0.2s linear;
		&::-webkit-scrollbar {
			width: 5px;
		}
		&::-webkit-scrollbar-thumb {
			border-radius: 10px;
			background: $color-gray;
		}
	}
}
