@import "/src/Assets/Scss/main.scss";

.home {
    position: relative;
    margin: 0 auto;

    .left,
    .right {
        position: fixed;
        top: 10vh;
        width: 25%;
        height: 90vh;
        background: var(--background-content);
        transition: all 0.2s linear;
        &::after {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 8px;
            height: 100%;
            background: var(--background-content);
            opacity: 1;
            transition: all 0.2s linear;
        }
        &:hover::after {
            opacity: 0;
        }

        .content {
            height: 100%;
            overflow-y: scroll;
            padding: 15px;
            &::-webkit-scrollbar {
                width: 8px;
                background-color: var(--background-content);
            }
            &::-webkit-scrollbar-thumb {
                background: var(--rgba);
                border-radius: 10px;
            }
        }
    }

    .center {
        width: 50%;
        margin: 0 auto;
        padding: 15px;
    }

    .left {
        left: 0;
    }

    .right {
        right: 0;
    }
}

@media screen and (min-width: 2000px) {
    .home {
        .left,
        .right {
            width: calc(2000px * 25 / 100);
        }

        .left {
            left: calc((100% - 2000px) / 2);
        }

        .right {
            right: calc((100% - 2000px) / 2);
        }
    }
}
