@import "/src/Assets/Scss/main.scss";

.user {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;

	.avatar {
		width: 40px;
		height: 40px;
		border: none;
		border-radius: 50%;
		background: $color-light;
		cursor: pointer;

		img {
			border-radius: 50%;
			width: 100%;
			height: 100%;
		}
	}

	.action {
		position: absolute;
		top: calc(100% + 10px);
		right: 0;
		width: 200px;
		height: auto;
		display: flex;
		flex-direction: column;
		background: var(--background-content);
		box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
		border-radius: 5px;
	}

	.info {
		margin-left: 10px;
		font-size: 12px;

		.name {
			font-weight: bold;
			color: var(--text);
		}

		.coin {
			font-weight: $fw-medium;
			color: $color-gold;
		}
	}
}
