@import "/src/Assets/Scss/main.scss";

.user {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    .avatar {
        width: 40px;
        height: 40px;
        border: none;
        border-radius: 50%;
        background: $color-light;
        cursor: pointer;

        img {
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }

    .dropdown {
        position: absolute;
        top: calc(100% + 10px);
        left: 0;
        width: auto;
        height: auto;
        background: var(--background-content);
        box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        padding: 5px;
        transition: all 0.2s linear;

        .option {
            position: relative;
            display: flex;
            flex-direction: column;

            .link {
                display: flex;
                align-items: center;
                padding: 10px 15px;
                color: var(--content);
                text-decoration: none;
                z-index: 100;
                transition: color 0.1s;
                &:hover {
                    color: $color-white;
                }
                &:nth-child(1):hover ~ .animate {
                    transform: translateY(0);
                    display: block;
                }
                &:nth-child(2):hover ~ .animate {
                    transform: translateY(100%);
                    display: block;
                }
                &:nth-child(3):hover ~ .animate {
                    transform: translateY(200%);
                    display: block;
                }
                &:nth-child(4):hover ~ .animate {
                    transform: translateY(300%);
                    display: block;
                }
                &:nth-child(5):hover ~ .animate {
                    transform: translateY(400%);
                    display: block;
                }

                .icon svg {
                    width: 20px;
                    height: 20px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                .title {
                    margin-left: 10px;
                    font-weight: $fw-medium;
                    font-size: 14px;
                }
            }

            .animate {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                border-radius: 5px;
                background: $color-gray;
                display: none;
                transition: all 0.1s linear;
            }
        }
    }

    .info {
        margin-left: 10px;
        font-size: 12px;

        .name {
            font-weight: bold;
            color: var(--title);
        }

        .coin {
            font-weight: $fw-medium;
            color: $color-gold;
        }
    }
}
