@import "/src/Assets/Scss/main.scss";

.storyText {
    width: 100%;
    height: 100%;
    display: flex;

    .option {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 15px;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .back {
                width: 40px;
                height: 40px;
                text-decoration: none;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                background: var(--rgba);
                color: var(--content);
                font-size: 15px;
                transition: all 0.2s linear;
                cursor: pointer;
                &:hover {
                    opacity: 0.8;
                }
            }
        }

        .group {
            position: relative;
            width: 100%;
            height: 150px;

            textarea {
                width: 100%;
                height: 100%;
                font-family: "Poppins", "Noto Color Emoji", sans-serif;
                resize: none;
                border-radius: 5px;
                border: none;
                outline: none;
                background: var(--background);
                padding: 10px;
                color: var(--content);
                font-size: 15px;
                font-weight: $fw-medium;
                transition: all 0.2s linear;
                &::placeholder {
                    font-size: 14px;
                    font-weight: $fw-medium;
                }
                &::-webkit-scrollbar {
                    width: 5px;
                }
                &::-webkit-scrollbar-thumb {
                    border-radius: 10px;
                    background: $color-gray;
                }
            }

            .emoji {
                position: absolute;
                bottom: 10px;
                right: 10px;
            }
        }

        .background .title {
            display: flex;
            align-items: center;

            p {
                margin-right: 10px;
            }
        }

        .color,
        .background,
        .theme {
            .title {
                color: var(--content);
                font-size: 15px;
                font-weight: $fw-medium;
                margin-bottom: 5px;
                border: 3px solid transparent;
                transition: color 0.2s linear;
            }

            .wrap,
            .box {
                background: var(--background);
                border-radius: 5px;
                display: grid;
                grid-template-columns: repeat(10, 25px);
                justify-content: space-between;
                gap: 5px;
                padding: 10px;
                transition: all 0.2s linear;
                &.bg {
                    opacity: 0.5;
                    button {
                        cursor: default;
                    }
                }

                &.show {
                    opacity: 1;

                    button {
                        cursor: pointer;
                    }
                }

                button {
                    height: 25px;
                    border-radius: 50%;
                    outline: none;
                    border: 3px solid $color-silver;
                    transition: all 0.2s linear;
                    cursor: pointer;
                    &.active {
                        border-color: $color-main-light;
                        transform: scale(1.3);
                    }
                }
            }

            .box {
                grid-template-columns: repeat(10, 1fr);

                img {
                    aspect-ratio: 1/1;
                    width: 100%;
                    border-radius: 5px;
                    border: 3px solid transparent;
                    transition: all 0.2s linear;
                    cursor: pointer;
                    &.active {
                        border-color: $color-main-light;
                        transform: scale(1.1);
                    }
                }
            }
        }

        .up {
            color: dark;
            width: 100%;
            padding: 14px 0;
            border-radius: 5px;
            border: none;
            outline: none;
            background: $color-main-dark;
            color: $color-white;
            font-size: 15px;
            font-weight: $fw-bold;
            text-transform: uppercase;
            transition: all 0.2s ease;
            cursor: pointer;
            &:hover {
                background: $color-main-light;
            }
        }
    }

    .preview {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding: 15px 15px 15px 0;

        .content {
            width: 100%;
            height: 100%;
            background: var(--background);
            transition: background 0.2s linear;
            border-radius: 5px;
            padding: 0 15px 15px;

            .title {
                height: 55px;
                color: var(--content);
                line-height: 55px;
                font-size: 15px;
                font-weight: $fw-medium;
                transition: color 0.2s linear;
            }

            .screen {
                width: 100%;
                height: calc(100% - 55px);
                background: $color-silver;
                border-radius: 5px;

                .view {
                    position: relative;
                    width: 380px;
                    height: 100%;
                    margin: 0 auto;
                    font-size: 22px;

                    .zoom {
                        position: absolute;
                        top: 50%;
                        right: calc(100% + 50px);
                        transform: translateY((-50%));
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 15px 0;
                        z-index: 1000;

                        input[type="range"] {
                            appearance: none;
                            width: 150px;
                            height: 6px;
                            background: rgba(255, 255, 255, 0.8);
                            border-radius: 5px;
                            box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.1);
                            &::-webkit-slider-thumb {
                                appearance: none;
                                height: 20px;
                                width: 20px;
                                border-radius: 50%;
                                background: $color-main-dark;
                                cursor: grabbing;
                            }
                        }

                        .result {
                            color: $color-black;
                            font-size: 15px;
                            font-weight: $fw-medium;
                            margin-left: 15px;
                            width: 50px;
                            height: 50px;
                            background: $color-white;
                            border-radius: 50%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }

                    img {
                        width: 100%;
                        height: 100%;
                    }

                    .text {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        font-family: "Roboto", "Noto Color Emoji", sans-serif;
                        text-align: center;
                        border-radius: 10px;
                        font-size: 1em;
                        font-weight: $fw-bold;
                        max-width: 80%;
                        width: max-content;
                        max-height: 80%;
                        height: auto;
                        overflow-y: auto;
                        word-wrap: break-word;
                        white-space: pre-wrap;
                        user-select: none;
                        transition: all 0.1s linear;
                        &::-webkit-scrollbar {
                            width: 5px;
                        }
                        &::-webkit-scrollbar-thumb {
                            border-radius: 10px;
                            background: rgba(255, 255, 255, 0.5);
                        }
                    }

                    .more {
                        position: absolute;
                        top: 85%;
                        left: 10%;
                    }
                }
            }
        }
    }
}
