@import "/src/Assets/Scss/main.scss";

.notification {
	.modal {
		.overlay {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100vh;
			background: rgba(0, 0, 0, 0.1);
			z-index: 99;
		}

		.box {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			width: 300px;
			height: 100px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			background: $color-light;
			border-radius: 5px;
			z-index: 100;
		}
	}

	.alert {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 1000;

		.success {
			color: green;
		}

		.warning {
			color: yellow;
		}

		.error {
			color: red;
		}
	}
}
